@import "../../../styles/settings.scss";

input[type="radio"] {
  display: none;
}

.star {
  &:hover {
    cursor: pointer;
  }
}

.stars2 {
  color: $primary;
  &:hover {
    cursor: pointer;
  }
}
